<!DOCTYPE html>
<HTML>
<head>
	<!--Include(Header)-->
	<meta name="Description" content="Portfolio website of Game Development student Stijn van Deijzen, specializing in VR">
	<title>Home</title>
	<style type="text/css">
		#WritingNav{display: none;}
	</style>
</head>
<body id="Home" >
	<!--Include(Nav)-->

	<div class="Bottom">

		<div class="TextBox CursorHover">
			<h class="TextBoxTitle Write Cursor">About</h>
			<p class="TextBoxText Write">
				<img src="About/ProfilePicture3.jpg" class="FloatyImageLeft" style="height: 20vmin;width: 20vmin;">
				Welcome to my portfolio website,<br>
				<br>
				I am Stijn van Deijzen, a Dutch Game Developer with a big interest in Virtual Reality. I graduated from the University of the Arts Utrecht in 2023. You can find me on <a href="www.linkedin.com/in/stijn-van-deijzen">LinkedIn</a> to check my current occupation, email me via <a href="stijnvandeijzen@gmail.com">stijnvandeijzen@gmail.com</a> and find my CV
			<a href="https://stijnonline.github.io/StijnVanDeijzen_CurriculumVitae.pdf" target="_blank">here</a>
			</p>
		</div>

		<div class="TextBox CursorHover">
			<h class="TextBoxTitle Write Cursor">Main Skills (Most experienced)</h>
			<p class="TextBoxText Write">
				Unity, C#, Virtual Reality, Git.
			</p>
		</div>

		<div class="TextBox CursorHover">
			<h class="TextBoxTitle Write Cursor">Secondary Skills (Some experience)</h>
			<p class="TextBoxText Write">
				Python, HTML, CSS, Java, Javascript, PHP, SQL
			</p>
		</div>


		<div class="TextBoxHeader CursorHover">
			<h class="Write Cursor" >
				My work
			</h>
		</div>

		<!--List(Projects/ProjectFiles,ProjectTemplate)-->

		<div style="height:100px;"></div><!-- Footer Margin -->
	</div>
</body>
<HTML>