<!--Include(HtmlTop)-->
<div class="TextBox CursorHover">
	<h class="TextBoxTitle Write Cursor">About</h>
	<p class="TextBoxText Write">
		Welcome to my site,<br>
		<br>
		I am Stijn van Deijzen, a Dutch Game Developer with a big interest in Virtual Reality. I am mostly interested in creating unique experiences for Virtual Reality. I graduated from the University of the Arts Utrecht in 2023
	</p>
</div>
<div class="TextBox CursorHover">
	<h class="TextBoxTitle Write Cursor">Profile Picture</h>
	<div class="TextBoxText">
	
	<img src="About/ProfilePicture.jpg" class="FloatyImageLeft" style="height: 300px;width: 200px;">
		<p class="TextBoxDescription Write">This is how I look, just in case you wanted to know.</p>
	</div>
</div>
<div class="TextBox CursorHover">
	<h class="TextBoxTitle Write Cursor">Main Skills (Most experienced)</h>
	<p class="TextBoxText Write">
		Unity, C#, Virtual Reality.
	</p>
</div>
<div class="TextBox CursorHover">
	<h class="TextBoxTitle Write Cursor">Secondary Skills (Some experience)</h>
	<p class="TextBoxText Write">
		Python, HTML, CSS, Java, Javascript, PHP, SQL
	</p>
</div>
<!--Include(HtmlBottom)-->